* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg-image {
  background-image: url("./images/bg1.png");

  filter: blur(7px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  width: 30%;
  height: 30%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 23px 23px 60px #c0bebe, -23px -23px 60px #ffffff;
  z-index: 2;
}
a{
  text-decoration: none;
}

.heading h1 {
  border:0px solid green;
  font-size: 30px;
  color: red;
  font-weight: 100;
  opacity: 0.7;
}

input[type="text"] {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid red;
}

#addbtn {
  text-decoration: none;
  background-color: red;
  color: white;
  font-size: 25px;
  padding: 5px 25px;
  border-radius: 20px;
  opacity: 0.7;
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .main-container {
    width: 50%;
    height: 30%;
  }
  .heading h1 {
    font-size: 25px;
  }
  input[type="text"] {
    width: 75%;
    height: 38px;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  .main-container {
    width: 50%;
    height: 30%;
  }
  .heading h1 {
    font-size: 25px;
  }
  input[type="text"] {
    width: 75%;
    height: 38px;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  .main-container {
    width: 80%;
    height: 30%;
  }
  .heading h1 {
    font-size: 25px;
  }
  input[type="text"] {
    width: 75%;
    height: 38px;
  }
}
